.clear{
    clear: both;
}
a{
    text-decoration:none;
}
.no1 a{
    color: #ffffff;
}
.container{
    width:1000px;
    margin: auto;
}
.header-bg{
    width: 100%;
    background-color: #262626;
    height:80px; 
}
.content{
    margin-left: 8%;
    margin-right: 8%;
    width: 84%;
    margin-top: -530px;
    }
.hero{
    background:url("images/firstdiv.jpeg") no-repeat center top;
    background-size: 100%; 
    width: 100%;
    height: 450px;
    }
.header{
    color:#ffffff;
    height: 80px;
}
.logo{
    max-width: 50%;
    height: 100%;
    float: left;
    font-family: sans-serif;
}
.logo1{
    float:left;
    margin-left:25px;
}
.logo1 span{
    color:#e69500;
}
.logo2{
    float:left;
    height:100%;
}
.logo2 p{
    font-size:12px;
    font-style:italic;
    font-family: serif;
    margin-top:32px;
    padding-left:10px;
}
.navbar{
    max-width: 50%;
    height: 100%;
    float: right;
    margin-right: 10px;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #262626;
}
.navbar li{
    float: left;
}
.navbar li a:link {
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  padding: 30px 15px 30px 15px;
  text-align: center;
  display: block;
  border-top:5px solid transparent; 

}
.navbar  li a:hover{
    border-top:5px solid #e69500; 
    background-color: #0d0d0d;
}
.navbar a{
    color:#ffffff;
}
.banner{
    color: #ffffff;
}
.dot1{
    border-top:1px dotted #ffffff;
    border-bottom:1px dotted #ffffff;
    height:2px;
    margin:auto;
    width:400px;
}
.dot2{
    border-top:1px dotted #ffffff;
    border-bottom:1px dotted #ffffff;
    height:2px;
    margin:auto;
    width:400px;
}
.dot3{
    border-top:1px dotted #c0c0c0;
    border-bottom:1px dotted #c0c0c0;
    height:2px;
    margin:0px 10px 2px 10px;
}
.dot4{
    border-top:1px dotted  #c0c0c0;
    height:2px;
    margin:1px 10px 20px 10px;
}
.middlesection{
    background-color:#ffffff; 
    padding: 20px 10px 20px 10px;
    box-shadow: 5px 0 4px -5px grey, -5px 0 4px -5px grey;
    border-bottom:6px solid #e69500; 
    border-top:6px solid  #e69500; 

}
.sub-middle-section{
    color: #ffffff;
    font-family: sans-serif;
}
.section1{
    margin: -10px 10px 25px 10px;
    display: flex;
    justify-content: center;
}
.section11{
    max-width: 25%;
    float: left;
    color:  #808080;
    padding: 0px 10px 10px 10px;
    font-size: 14px;
    line-height: 25px;
}
.section11 h3{
    color:#595959;
    font-weight:100;
    font-size:30px;
    margin-bottom:20px;
    font-family: 'Open Sans', sans-serif;
}
.section11 p{
    font-family: 'Open Sans', sans-serif;
}
.section11 a:link{
  color: #ffffff;
  background-color: black;
  padding: 3px 10px 3px 10px ;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  border-radius: 5px;
}
.section11 a{
    color: #ffffff;
}
.section11 a:hover{
  color: #000000;
  background-color: #e69500;
}


.section12{
   max-width:25%;
    float: left;
    color:  #808080;
    padding: 10px;
    padding: 25px 10px 10px 10px;
    font-size: 13px;
    line-height: 20px;
}
.section12 p{
    font-family: 'Open Sans', sans-serif;
}
.section121{
    float:left;
    width:50px;
    height:50px;
    background-image:url("images/basket.svg");
    background-size: 50px 50px; 
}
.section122{
    float:left;
    margin-left:8px;
}
.section122 h3{
    color:#595959;
}
.section13{
   max-width:25%;
    float: left;
    color:  #808080;
    padding: 25px 10px 10px 10px;
    font-size: 13px;
    line-height: 20px;
}
.section13 p{
    font-family: 'Open Sans', sans-serif;
}
.section131{
    float:left;
    width:50px;
    height:50px;
    background-image:url("images/rocket.svg");
    background-size: 50px 50px; 
}
.dev11{
    float:left;
    width:50px;
    height:50px;
    background-image:url("images/development.svg");
    background-size: 50px 50px; 
}
.section132{
    float: left;
    margin-left: 8px;
}
.section132 h3{
    color:#595959;
}

.section14{
   max-width:25%;
    float: left;
    color:  #808080;
    padding: 25px 10px 10px 10px;
    font-size: 13px;
    line-height: 20px;
}
.section14 p{
    font-family: 'Open Sans', sans-serif;
}
.section141{
    float:left;
    width:50px;
    height:50px;
    background-image:url("images/development.svg");
    background-size: 50px 50px; 
}
.section142{
    float:left;
    margin-left:8px;
}
.section142 h3{
    color:#595959;
}
.dot5{
    border-top:1px dotted  #c0c0c0;
    border-bottom:1px dotted  #c0c0c0;
    height:2px;
    margin:0 10px 2px 10px;
}
.dot6{
    border-top:1px dotted #c0c0c0;
    height:1px;
    margin:0 10px 20px 10px;
}
.section2{
    margin: -20px 10px 25px 10px;
    display: flex;
    justify-content: center;
}
.services2{
    max-width: 25%;
    float: left;
    color:  #808080;
    padding: 10px;
    font-size: 14px;
    line-height: 25px;
}
.services2 p{
    font-family: 'Open Sans', sans-serif;
}
.services2 h3{
    color:#595959;
    font-weight:100;
    font-size:30px;
    margin-bottom:10px;
    font-family: 'Open Sans', sans-serif;
}
.dot7{
    border-top:1px dotted  #c0c0c0;
    border-bottom:1px dotted  #c0c0c0;
    height:2px;
    margin:0 10px 2px 10px;
}
.dot8{
    border-top:1px dotted  #c0c0c0;
    height:1px;
    margin:0 10px 5px 10px;
}

.services2 a:link{
  color: #ffffff;
  background-color: black;
  padding: 3px 10px 3px 10px ;
  text-align: center;
  font-size: 13px;
  display: inline-block;
  border-radius: 5px;
}
.services2 a:hover{
  color: #000000;
  background-color: #e69500;
}
.services2 a{
    color: #ffffff;
}

.marketing2{
   max-width:25%;
    float: left;
}
.marketing2 img{
    width:90%;
  display: block;
  margin:40px auto 0px 0;
}
.design2{
   max-width:25%;
    float: left;
}
.design2 img{
    width:90%;
  display: block;
  margin:40px auto 0px 0;
}
.development2{
   max-width:25%;
    float: left;
}
.development2 img{
    width:90%;
  display: block;
  margin:40px auto 0px 0;
}

.section3{
    color:#a6a6a6;
    margin: 0px 10px 25px 10px;
}
.sermar{
    max-width:48%;
    float: left;
    margin: 7px;
    line-height: 15px;

}
.no3div1{
}
.no3div1 p{
    line-height:0px;
    font-size:30px;
    padding:0px 0 0px 8px;
}
.sermar2{
    box-sizing: border-box;
    max-width:49%;
    float: left;
    margin: 7px ;
    font-family: sans-serif;
}
.sermar2 ul{
    margin: auto;
    float: right;
    display: inline-block;
    list-style-type: none;
    font-size: 8px;
    font-style: italic;
    color: #e69500;
}
.sermar2 li{
    float: left;
    padding:0 3px 0 3px ;
}
.services3{
    width:100%;
    float: left;
    color: #a6a6a6;
}
.services3 a:hover{
    color: #e69500;
}
.ser3div1{
    height:80px;
    width:20%;
    margin:7px 0 7px 7px;
    float:left;
}
.ser3div2{
    height:80px;
    width:75%;
    float:right;
    margin:7px 7px 7px 1px;
}
.ser3div21{
}
.ser3div211{
    display: inline-block;
    font-size:12px;
    height:10px;
    vertical-align:middle;
    margin-top:0;
    line-height:0;
}
.ser3div211 h5{
    margin:5px;
    font-size:10px;
    padding:0;
}
.ser3div212{
    float:right;
    margin:auto;
    margin-top:2px;
}
.ser3div212 ul{
    font-size: 9px;
    margin:auto;
    padding:0;
}
.ser3div22{
    font-size:11px;
    padding-top:0;
}
.ser3div22 p{
    padding-left:5px;
}
.ser3div22 a{
    color:grey;
    font-size:11px;
}
.dot9{
    border:1px dotted #a6a6a6;
    height:2px;
    margin:0 5px 0px 5px;
}
.sermar ul{
    margin: auto;
    float: right;
    display: inline-block;
    list-style-type: none;
    font-size: 8px;
    font-style: italic;
    color: #e69500;
}
.sermar li{
    float: left;
    padding:0 3px 0 3px ;
}

.marketing3{
   width:100%;
    float: left;
    color: #a6a6a6;
}
.marketing3 a:hover{
    color: #e69500;
}
.mar3div1{
    height:80px;
    width:20%;
    margin:7px 0 7px 7px;
    float:left;
}
.mar3div2{
    border:px solid red;
    height:80px;
    width:75%;
    float:right;
    margin:7px 7px 7px 1px;
}
.mar3div21{
}
.mar3div211{
    display:inline-block;
    font-size:12px;
    height:10px;
    vertical-align:middle;
    margin-top:0px;
    line-height:0;
}
.mar3div211 h5{
    margin:5px;
    font-size:10px;
    padding:0;
}
.mar3div212{
    float:right;
    margin:auto;
    margin-top:2px;
}
.mar3div212 ul{
    font-size: 9px;
    margin:auto;
    padding:0;
}
.mar3div22{
    font-size:11px;
    padding-top:0;
}
.mar3div22 p{
    padding-left:5px;
}
.mar3div22 a{
    font-size:11px;
    color:grey;
}


.no3div2{
}
.no3div2 p{
    line-height:0px;
    font-size:30px;
    padding:0px 0 0px 8px;
}
.lol1{
    width:47%;
    float:left;
    margin:10px 5px 10px 5px;
}
.lol11{
    display:flex;
    justify-content:center;
}
.lol11 img{
    width:25px;
    height:15px;
}
.lol12{
    font-size:12px;
    text-align:center;
    line-height:15px;
    padding-top:5px;
    padding-bottom:5px;
}
.lol13{
    display:flex;
    justify-content:center;
}
.lol13 img{
    width:25px;
    height:15px;
}
.lol14{
    margin-top:10px;
    width: 100%;
    height:60px;
    background-image: url('images/dot.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 60px;
}
.lol2{
    width:47%;
    float:left;
    margin:10px 5px 10px 5px;
}
.lol21{
    display:flex;
    justify-content:center;
}
.lol21 img{
    width:25px;
    height:15px;
}
.lol22{
    font-size:12px;
    text-align:center;
    line-height:15px;
    padding-top:5px;
    padding-bottom:5px;
}
.lol23{
    display:flex;
    justify-content:center;
}
.lol23 img{
    width:25px;
    height:15px;
}
.lol24{
    margin-top:10px;
    height:60px;
    background-image: url('images/dot.jpeg');
    background-repeat: no-repeat;
    background-size: 100% 60px;
}
.lol241{
    display: block;
    width: 250px;
    float: left;
    height: 100%;
}
.lol241 img{
    height:50px;
    width: 50px;
    border:1px solid red;
    margin-top: 4px;
}
.lol242{
    border:1px solid red;
}
.lol242{
    display: block;
    float: left;
    border:1px solid red;
}
.lol242 p{
     font-size:10px;
     font-weight:bold;
     color:black;
     margin-top:4px;
     float:left;
}

.services3 img {
    height: 80px;
    width:80px;
}
.marketing3 img {
    height: 80px;
    width:80px;
}

.design3{
   max-width:25%;
    float: left;
    height: 250px;
    color: #a6a6a6;
}
.development3{
   max-width:25%;
    height: 250px;
    float: left;
    color: #a6a6a6;
}

.footer{
    color: #ffffff;
    background-color:#262626;
    padding: 10px 20px 10px 20px; 
    font-family: sans-serif;
    box-shadow: 5px 0 4px -5px black, -5px 0 4px -5px black,0 5px 4px -5px black;
}
.lastdiv{
    box-sizing: border-box;
    margin:20px 20px 20px 20px;
    max-height: auto;
}
.no1{
    max-width: 49.8%;
    float: left;
}
.no1 ul{
    max-width: 100%;
    list-style-type: none;
    display: inline-block;
    font-size: 11px;
    padding-left: 0;
    margin:0; 
}
.no1 li{
    display: inline-block;
    color:#ffffff;
    padding: 0 0px 0 3px;
    margin:0;
}
.no1 a{
}
.no1 ul li+li:before{
    content: "/";
    padding-right: 8px;
}

.no1 a:hover{
  color: #e69500;
}

.no2{
    max-width: 49.8%;
    float: right;
    padding: 0;
    margin-top: 5px;
    text-align: right;
}
.no2 p{
    margin:0; 
    float: right; 
    font-size: 11px;
}
.no2 a{
    color:#e69500;
}
.bottombar{
}
.bottombar img{
    display: block;
    margin: auto;
    width:35px;
    height:35px;
}

.banner1{
    display: block;
    margin: auto;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    color:  #ffffff;
}
.banner1 span{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}
.banner2{
    display: block;
    margin: auto;
    padding-top:25px;
    padding-bottom: 25px; 
    font-family: sans-serif;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.banner3{
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 60px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    color:   #ffffff;
}
.banner3 span{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.sub-footer{
    display: flex;
    justify-content: center;
    line-height: 20px;
    margin-left: 15px;
    margin-bottom: 20px;
}
.sub-footer h3{
    margin-bottom: 30px;
}
.services4{
    max-width: 22%;
     float: left;
    color:  #ffffff;
    font-size: 13px;
}
.services4 img{
    width:20px;
    height:20px;
    margin:3px;
}
.marketing4{
   max-width:25%;
     float: left;
    color:  #ffffff;
    font-size: 13px;
    padding-right: 10px;
    padding-left: -10px;
}
.marketing4 a{
    color: #e69500;
}
.design4{
   max-width:25%;
     float: left;
    color:  #ffffff;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 30px;
}
.design4 img{
    width:100%;
    height:120px;
    margin-top:5px;
}
.development4{
   max-width:25%;
     float: left;
    color:  #ffffff;
    font-size: 13px;
    line-height:20px;
}
.development4 a{
    color:#ffffff;
}
.dev4p3{
    color:#ffffff;
}
.dot10{
    border-top:1px dotted  #c0c0c0;
    border-bottom:1px dotted  #c0c0c0;
    height:2px;
    margin:0 15px 2px 15px;
}
.dot11{
    border-top:1px dotted  #c0c0c0;
    height:1px;
    margin:0 15px 0px 15px;
}